<span class="admin-name">
    <% if (user && user.username) { %>
        Logged in as <%= user.username %>
            <% } else { %>
                Error: Not logged in
                <% } %>
</span>
<div class="admin-title">
    <h2>Blogg Posts</h2>
    <a href="/add-post"> + Create new post</a>
</div>

<ul class="admin-posts">
    <% posts.forEach(post=> { %>
        <li>
            <a href="/posts/<%= post._id %>">
                <span class="post_title">
                    <%= post.title %>
                </span>
            </a>

            <br>
            <span class="author">
                Posted by: <%= post.author %>
            </span>
            &centerdot;
            <span class="date">
                Date: <%= post.createdAt.toDateString() %>
            </span>

            <div class="admin-post-controls">
                <a href="/edit-post/<%= post._id %>">
                    <button class="btn"> Edit </button> </a>

                <form action="/delete-post/<%= post._id %>?_method=DELETE" method="POST">
                    <input type="submit" value="Delete" class="btn-delete" />
                </form>
            </div>

        </li>
        <% }) %>
</ul>



<% if (nextPage !==null) { %>
    <a href="/dashboard/?page=<%= nextPage %>" class="pagination">&lt; View Older Posts</a>


    <% } %>