<span class="admin-name">
    <% if (user && user.username) { %>
        Logged in as <%= user.username %>(<%= user.role %>)
                <% } else { %>
                    Error: Not logged in
                    <% } %>
</span>
<div class="admin-title">
    <h2>Blogg Posts</h2>
    <a href="/add-post"> + Create new post</a>
</div>

<ul class="admin-posts">
    <% posts.forEach(post=> { %>
        <li>
            <a href="/posts/<%= post._id %>">
                <span class="post_title">
                    <%= post.title %>
                </span>
            </a>

            <br>
            <span class="author">
                Posted by: <%= post.author %>
            </span>
            &centerdot;
            <span class="date">
                Date: <%= post.createdAt.toDateString() %>
            </span>

            <div id="userId" data-user-id="<%= userId %>"></div>
            <div class="admin-post-controls">

                <!--   <span class="post-likes" id="likes_post_<%= post._id %>">
                    <%= post.likes %>
                </span> -->

                <span class="post-likes" id="likes_post_<%= post._id %>">
                    <%= post.likes.length %>
                </span>
                <button class="btn-like" data-post-id="<%= post._id %>">

                    <svg class="heart" fill="#3f4d5a" height="24px" width="25px" version="1.1" id="Capa_1"
                        xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                        viewBox="0 0 471.701 471.701" xml:space="preserve" stroke="#3f4d5a">
                        <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                        <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                        <g id="SVGRepo_iconCarrier">
                            <g>
                                <path
                                    d="M433.601,67.001c-24.7-24.7-57.4-38.2-92.3-38.2s-67.7,13.6-92.4,38.3l-12.9,12.9l-13.1-13.1 c-24.7-24.7-57.6-38.4-92.5-38.4c-34.8,0-67.6,13.6-92.2,38.2c-24.7,24.7-38.3,57.5-38.2,92.4c0,34.9,13.7,67.6,38.4,92.3 l187.8,187.8c2.6,2.6,6.1,4,9.5,4c3.4,0,6.9-1.3,9.5-3.9l188.2-187.5c24.7-24.7,38.3-57.5,38.3-92.4 C471.801,124.501,458.301,91.701,433.601,67.001z M414.401,232.701l-178.7,178l-178.3-178.3c-19.6-19.6-30.4-45.6-30.4-73.3 s10.7-53.7,30.3-73.2c19.5-19.5,45.5-30.3,73.1-30.3c27.7,0,53.8,10.8,73.4,30.4l22.6,22.6c5.3,5.3,13.8,5.3,19.1,0l22.4-22.4 c19.6-19.6,45.7-30.4,73.3-30.4c27.6,0,53.6,10.8,73.2,30.3c19.6,19.6,30.3,45.6,30.3,73.3 C444.801,187.101,434.001,213.101,414.401,232.701z">
                                </path>
                            </g>
                        </g>
                    </svg>
                </button>


                <a href="/edit-post/<%= post._id %>">
                    <button class="btn-comment">
                        <svg class="icon-delete" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                            <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                            <g id="SVGRepo_iconCarrier">
                                <path
                                    d="M21.2799 6.40005L11.7399 15.94C10.7899 16.89 7.96987 17.33 7.33987 16.7C6.70987 16.07 7.13987 13.25 8.08987 12.3L17.6399 2.75002C17.8754 2.49308 18.1605 2.28654 18.4781 2.14284C18.7956 1.99914 19.139 1.92124 19.4875 1.9139C19.8359 1.90657 20.1823 1.96991 20.5056 2.10012C20.8289 2.23033 21.1225 2.42473 21.3686 2.67153C21.6147 2.91833 21.8083 3.21243 21.9376 3.53609C22.0669 3.85976 22.1294 4.20626 22.1211 4.55471C22.1128 4.90316 22.0339 5.24635 21.8894 5.5635C21.7448 5.88065 21.5375 6.16524 21.2799 6.40005V6.40005Z"
                                    stroke="#3f4d5a" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round">
                                </path>
                                <path
                                    d="M11 4H6C4.93913 4 3.92178 4.42142 3.17163 5.17157C2.42149 5.92172 2 6.93913 2 8V18C2 19.0609 2.42149 20.0783 3.17163 20.8284C3.92178 21.5786 4.93913 22 6 22H17C19.21 22 20 20.2 20 18V13"
                                    stroke="#3f4d5a" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round">
                                </path>
                            </g>
                        </svg>
                    </button> </a>

                <form action="/delete-post/<%= post._id %>?_method=DELETE" method="POST">
                    <!-- <input type="submit" value="" class="btn-delete-comment" /> -->
                    <button type="submit" class="btn-delete-comment">
                        <svg class="iconDelete" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                            <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                            <g id="SVGRepo_iconCarrier">
                                <path d="M10 11V17" stroke="#3f4d5a" stroke-width="1.2" stroke-linecap="round"
                                    stroke-linejoin="round"></path>
                                <path d="M14 11V17" stroke="#3f4d5a" stroke-width="1.2" stroke-linecap="round"
                                    stroke-linejoin="round"></path>
                                <path d="M4 7H20" stroke="#3f4d5a" stroke-width="1.2" stroke-linecap="round"
                                    stroke-linejoin="round"></path>
                                <path d="M6 7H12H18V18C18 19.6569 16.6569 21 15 21H9C7.34315 21 6 19.6569 6 18V7Z"
                                    stroke="#3f4d5a" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round">
                                </path>
                                <path d="M9 5C9 3.89543 9.89543 3 11 3H13C14.1046 3 15 3.89543 15 5V7H9V5Z"
                                    stroke="#3f4d5a" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round">
                                </path>
                            </g>
                        </svg>
                    </button>

                </form>

            </div>
            <div class="post-likes-container">

                <% if (post.usernames && post.usernames.length> 0) { %>
                    <p>Users who liked this post: <%= post.usernames.join(', ') %></p>
                <% } else { %>
                    <p>No likes yet.</p>
                <% } %>
            </div>
        </li>
        <% }) %>
</ul>



<% if (nextPage !==null) { %>
    <a href="/dashboard/?page=<%= nextPage %>" class="pagination">&lt; View Older Posts</a>


    <% } %>