<section class="articles">
    <h2 class="heading">
        Latest Posts
    </h2>
    <% posts.forEach(post=> { %>
        <ul class="article_ul">
            <li>
                <a href="/posts/<%= post._id %>">
                    <span class="post_title">
                        <%= post.title %>
                    </span>
                </a>

                <br>
                <span class="author">
                    Posted by: <%= post.author %>
                </span>
                &centerdot;
                <span class="date">
                    Date: <%= post.createdAt.toDateString() %>
                </span>

            </li>
        </ul>
        <% }); %>

            <% if (nextPage !==null) { %>
                <a href="/posts/home/?page=<%= nextPage %>" class="pagination">&lt; View Older Posts</a>


                <% } %>
</section>