<h1>
    <%= posts.title %>
</h1>
<article class="article">
    <%= posts.body %>
</article>

<br>

<br>


<!-- <div class="admin-post-controls">
    <a href="/edit-post/<%= posts._id %>">
        <button class="btn"> Edit </button> </a>

    <form action="/delete-post/<%= posts._id %>?_method=DELETE" method="POST">
        <input type="submit" value="Delete" class="btn-delete" />
    </form>

</div> -->

<article class="comment-article">
    <form action="/comments/<%= posts._id %>" method="POST">
        <input type="hidden" name="postId" value="<%= posts._id %>">
        <label for="content">Leave a comment:</label>
        <textarea class="comment-text" name="content" id="content" rows="4" cols="50" required></textarea>
        <button type="submit" class="btn">Submit Comment</button>
    </form>
</article>

Older comments:

<ul>
    <% comments.forEach(comment=> { %>
        <li>
            <span class="author">
                <%= comment.author %>
            </span>
            &centerdot;
            <span class="date">
                Date: <%= comment.createdAt.toDateString() %>
            </span>
            <article class="comment-content">
                <%= comment.content %>
            </article>
        </li>

        <div class="admin-post-controls">
            <a href="/edit-comment/<%= comment._id %>">
                <button class="btn-comment"> Edit </button> </a>

            <form action="/posts/delete-comment/<%= comment._id %>?_method=DELETE" method="POST">
                <input type="submit" value="Delete" class="btn-delete-comment" />
            </form>


        </div>

        <% }); %>
</ul>



<% if (nextPage !==null) { %>
    <a href="/posts/<%= posts._id %>/?page=<%= nextPage %>" class="pagination">&lt; View More Comments</a>


    <% } %>